@import "tailwindcss";

.light {
  background-color: #ffffff;
  color: #000;
  min-height: 100vh;
  padding: 20px;
}

.dark {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  width: 300px;
  padding: 12px;
  border-radius: 6px;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */